.admin-create-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.admin-create-back {
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.admin-create-actions {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}